<!DOCTYPE html>
<html>
<head>
    <title>MY APP</title>
    <link rel="stylesheet" href="">
</head>
<body>
<h3>Users</h3>
<ul>
    <% for(var i=0; i<users.length; i++) {%>
        <li class="user">
            <span><%= users[i] %></span>
        </li>
    <% } %>
</ul>
</body>
</html>